<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AdvancedSearch</title>
<link href="csstitle.css" rel="stylesheet" type="text/css" />
<link href="cssfont.css" rel="stylesheet" type="text/css" />
<link href="cssemail.css" rel="stylesheet" type="text/css" />
<style type="text/css">
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
</style>
</head>

<body>
<div>
  <h2 class="TitleForWebPages">Search for your suitable insurance</h2>
</div>
<table width="720" border="0" align="center">
  <tr>
    <td width="140"><a href="Company.html">Company</a></td>
    <td width="140"><a href="Age.html">Age</a></td>
    <td width="140"><a href="Coverage.html">Coverage time</a></td>
    <td width="140"><a href="Rates.html">Rates/Prices</a></td>
    <td width="140"><a href="Conditions.html">Other Conditions</a></td>
  </tr>
</table>
<form name="loginform" method="post" action="Coverage.html">
<table align="center">
  <tr>
    <td width="200" class="FontsForTables">Age</td>
    <td width="200">
    <select name="age" >
    <option value="value1">Less than 18
    <option value="value2">18-21
    <option value="value3">21-24
    <option value="value4" selected="selected">over 25
    </select>
    </td>
  </tr>
</table>
<div align="center">
<input type="submit" name="bu1" value="continue" onclick="checkform()">
<input type="reset" name="bu2" value="reset">
</div>
</form>
</body>
</html>
