<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Recommend</title>
<link href="csstitle.css" rel="stylesheet" type="text/css" />
<link href="cssemail.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function checkform()
{
if (document.recommendform.zipcode.value==""){
window.alert("Please enter a valid zipcode！");
document.recommendform.zipcode.focus();
return(false);
}
document.recommendform.submit();
}
</script>
</head>

<body>
<div>
<h2 class="TitleForWebPages">Welcome to Soy Vey Insurance Service</h2>
</div>

<form name="recommendform" method="post" action="file:///D|/JavaScript/result.html">
<table width="400" border="0" align="center" cellspacing="10">
<td width="200" class="cssemail">ZIP code：
<input type="text" name="zipcode" size="30">
</td>

</tr>
</table>
<div align="center">
<input type="button" name="bu1" value="Submit" onclick="checkform()">
<input type="reset" name="bu2" value="reset">
</div>
</form>
</html>
