<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>RetrievePassword</title>
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet"type="text/css" />
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/jquery-1.8.2.js"></script>

<style type="text/css">
body {
	background-color: #9FE0FF;
}
</style>
</head>

<body>
<div align="center" style="color: #600; font-size: 24px; font-weight: bold;">Welcome to Soy Vey Insurance Service</div>


<div align="center" style="font-size: 20px; color: #600; font-weight: bold; ">
<table cellpadding="10">
<tr><td>Email
<form name="resetpasswordform" method="get" action="/sendPassword/">

<input type="text" id="email" name="email">
<input type="submit" name="bu1" value="Retrieve" >
</form>
</td></tr></table>
</div>



</body>
</html>